:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 153, 204; /* Azul claro */
  --background-end-rgb: 51, 204, 255; /* Azul vibrante */

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #00ccff33 0deg, /* Azul claro */
    #00ccff66 55deg, /* Azul */
    #00ccff99 120deg, /* Azul más claro */
    #00ccff66 160deg, /* Azul */
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(0, 102, 204, 1), /* Azul */
    rgba(51, 204, 255, 0) /* Azul claro */
  );

  /* Puedes ajustar otros colores según tus preferencias */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 51, 102; /* Azul oscuro */
    --background-end-rgb: 0, 0, 51; /* Azul aún más oscuro */

    --primary-glow: radial-gradient(rgba(0, 102, 204, 0.4), rgba(0, 102, 204, 0)); /* Azul */
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(0, 102, 204, 0),
      rgba(0, 102, 204, 0),
      rgba(0, 102, 204, 0.3)
    );

    /* Otros ajustes para el modo oscuro */
  }
}

/* Resto de tus estilos CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}